<h4>{{title}}</h4>
<div [formGroup]="feeForm">
  <app-input formControlName="name" class="inputs">Nom</app-input>
  <app-input name="amount" formControlName="amount" type="number" class="inputs">Montant</app-input>
  <app-date [control]="feeForm.get('deadline')">Date limite</app-date>

  <mat-slide-toggle formControlName="isSchoolFee" class="mt-4">Ajouter des tranches ?</mat-slide-toggle>

  <div *ngIf="feeForm.controls.isSchoolFee.value" class="col-12 my-2" formArrayName="tranches">
    <div *ngFor="let tranche of tranches; let i = index" formGroupName="{{i}}" class="d-flex align-items-center my-4 justify-content-between">
      <div class="mr-5">{{tranche.value?.name}}</div>
      <div class="mr-5">{{tranche.value?.amount}}</div>
      <div class="flex-grow-1" style="margin-right: auto;">
        <mat-icon  (click)="updateTranche(i)" *ngIf="tranche.value?.name" class="small mr-3">edit</mat-icon>
        <mat-icon (click)="deleteTranche(i)" *ngIf="tranche.value?.name" class="small">delete</mat-icon>
      </div>
    </div>
  </div>

  <button class="col-12 mt-3" mat-stroked-button color="primary" *ngIf="feeForm.controls.isSchoolFee.value" (click)="addTranche()">Ajouter une tranche</button>
</div>
<div class="actions ml-auto">
  <button class="mr-4" (click)="dialogRef.close()" mat-button>Annuler</button>
  <button (click)="save()" mat-flat-button color="primary">{{buttonSubmitText}}</button>
</div>
