<div class="pay">
  <h4 class="display-4">Payement</h4>
  <div class="d-flex">
    <p class="lead text-capitalize">{{registration?.student?.firstname | titlecase}}</p>
    <p class="lead ml-2">{{registration?.student?.lastname.toUpperCase()}}</p>
  </div>
  <mat-divider class="mb-4"></mat-divider>

  <div *ngFor="let paymentLine of paymentLines.controls; let i = index;" [formGroup]="paymentLine" class="pay-line d-flex flex-column">
    <button *ngIf="paymentLines.length > 1" class="delete-btn" mat-icon-button color="warn" (click)="removeFeeToPay(i)"><mat-icon>delete</mat-icon></button>
    <div class="d-flex justify-content-between align-items-center">
      <p style="flex: 1">{{paymentLine?.value?.fee?.name}}</p>
      <div style="flex: 1">
        <div class="payment-input d-flex align-items-center">
          <input [formControl]="paymentLine.get('amount')" type="number"/>
          <div class="px-2 text-muted">/</div>
          <div class="pl-2 text-muted remaining">{{remainingPayments(paymentLine?.value?.fee) | spaced: 'F'}}</div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center text-dark pl-1">
            <mat-icon >history</mat-icon>
            <div class="mx-1">{{ pastPayments(paymentLine?.value?.fee) | spaced: 'F'}}</div>
          </div>
          <p class="text-success mt-1 pr-1">{{reductionWithLabel(paymentLine?.value?.fee)}}</p>
        </div>
        <span style="color: red;" *ngIf="paymentLine.get('amount')?.hasError('exceeded')">Montant supérieur au payement restant</span>
        <span style="color: red;" *ngIf="paymentLine.get('amount')?.hasError('min')">Le montant doit être supérieur ou égal à 0</span>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div style="flex: 1">Ajouter une contribution à payer</div>
    <div style="flex: 1" class="my-2 mx-0">
      <!--    <span  *ngIf="filterFees().length <= 0">Il n'y a plus de contributions à ajouter</span>-->
      <app-select class="inputs w-100"
                  [options]="feesAvailable"
                  displayKey="name" valueKey="_id"
                  addEmptyOption="true"
                  [formControl]="feeToPay">
      </app-select>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div style="flex: 1">Date de payement</div>
    <div style="flex: 1" class="my-2 mx-0">
      <app-date [control]="paymentDate"></app-date>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <div>
      <button class="btn btn-light px-5" (click)="dialogRef.close(false)">Annuler</button>
      <button class="btn btn-primary mx-2 px-3" (click)="reductions()">Réductions</button>
    </div>
    <button mat-raised-button color="primary" (click)="save()" class="btn px-5">Valider</button>
  </div>
</div>


