@import 'app.colors';

:host {
  .classrooms {
    height: 70vh;
    overflow: auto;

    .classroom {
      font-size: 1.3em;
      margin: 10px 0;
      padding: 10px;
      cursor: pointer;
      border-radius: 7px;

      &.selected {
        background-color: $primary;
        color: white;
      }
    }
  }


  .students {
    overflow: auto;
    height: 70vh;

    .student {
      margin: 10px 0;
      padding: 10px;
    }
  }

}
