@import "app.colors";
$max-data-height: 60vh;

:host {
  .ngx-datatable {
    height: 65vh;
    overflow: auto;

    datatable-body {
      height: 100%;
    }
  }

  .total-payment {
    font-size: 2em;
    font-weight: bold;
  }
}
