<div class="row">
  <div class="col-12 col-sm-4">
    <h5>Ajout et modifications des types</h5>
    <app-input name="name" placeholder="Nom" [formControl]="name" class="inputs"></app-input>
    <button (click)="save()" class="mt-5" mat-flat-button color="primary">{{buttonText}}</button>
  </div>

  <div class="col-12 col-sm-8 mt-5 mt-sm-0">
    <div class="d-flex flex-column justify-content-center align-content-between">
      <h5>Types de contributions</h5>
      <mat-list>
        <mat-list-item class="item" *ngFor="let feeType of feeTypesRepository.stream | async; let i = index">
          <div class="d-flex align-items-center justify-content-between w-100 text-capitalize">
            {{feeType.name}}
            <div class="ml-4">
              <button mat-icon-button (click)="edit(feeType)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="delete(feeType)"><mat-icon>delete</mat-icon></button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
