:host {
  display: flex;
  flex-direction: column;
  margin: 15px 0;

  label {
    color: #8c8c8c;
  }

  mat-form-field {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        background-color: white !important;
      }
    }
  }
}
