@import 'app.colors';

:host {
  display: block;
  margin: 25px auto;

  .registration {
    background-color: white;
    border-radius: 7px;
    box-shadow: $shadow;
    padding: 48px;
    margin: 0 auto;
  }

  .section-title {
    font-size: 14px;
    font-weight: bold;
  }

  .inputs {
    margin-top: 15px;
  }

  .genre {
    margin-right: 55px;
  }

  .stats {
    font-size: 12px;

    .balance {
      margin-left: auto;
      text-align: right;
    }
  }
}
