<div class="d-flex flex-column" [formGroup]="registrationForm">
  <div common-title class="section-title">{{headers[currentPage]}}</div>
  <mat-divider style="margin: 10px 0 30px 0"></mat-divider>

  <div *ngIf="currentPage == 0">
    <label class="genre">Sexe</label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button style="margin-right:40px;" value="M">M</mat-radio-button>
      <mat-radio-button value="F">F</mat-radio-button>
    </mat-radio-group>
    <div class="row">
      <app-input [control]="registrationForm.get('lastname')" name="lastname" placeholder="Nom"
                 formControlName="lastname" class="inputs col-12 col-sm-6"></app-input>
      <app-input [control]="registrationForm.get('firstname')" name="firstname" placeholder="Prénom"
                 formControlName="firstname" class="inputs col-12 col-sm-6"></app-input>
      <app-date view="multi-year" [control]="registrationForm.get('birthday')" label="Date de naissance"
                class="col-12 col-sm-6"></app-date>
      <app-input name="birthCity" placeholder="Lieu de naissance" formControlName="birthCity"
                 class="inputs col-12 col-sm-6"></app-input>
      <app-input name="address" placeholder="Adresse" formControlName="address"
                 class="inputs col-12 col-sm-6"></app-input>

      <button (click)="print()">print</button>
    </div>
  </div>

  <div *ngIf="currentPage == 1">
    <h5>Père</h5>
    <div class="row">
      <app-input name="fathersFirstname" placeholder="Nom" formControlName="fathersFirstname"
                 class="inputs col-12 col-sm-6"></app-input>
      <app-input name="fathersLastnme" placeholder="Prénom" formControlName="fathersLastname"
                 class="inputs col-12 col-sm-6"></app-input>
      <app-input name="fathersJob" placeholder="Profession" formControlName="fathersJob"
                 class="inputs col-12 col-sm-6"></app-input>
      <app-input name="fathersPhone" placeholder="Téléphone" formControlName="fathersPhone"
                 class="inputs col-12 col-sm-6" type="tel"></app-input>
    </div>

    <h5 style="margin-top: 20px;">Mère</h5>
    <div class="row">
      <app-input name="mothersFirstname" placeholder="Nom" formControlName="mothersFirstname"
                 class="inputs col-12 col-sm-6"></app-input>
      <app-input name="mothersLastnme" placeholder="Prénom" formControlName="mothersLastname"
                 class="inputs col-12 col-sm-6"></app-input>
      <app-input name="mothersJob" placeholder="Profession" formControlName="mothersJob"
                 class="inputs col-12 col-sm-6"></app-input>
      <app-input name="mothersPhone" placeholder="Téléphone" formControlName="mothersPhone"
                 class="inputs col-12 col-sm-6" type="tel"></app-input>
    </div>
  </div>

  <div *ngIf="currentPage == 2">
    <app-select [control]="registrationForm.get('classroom')" label="Classe" [options]="classrooms" displayKey="name"
                formControlName="classroom"></app-select>
    <h5 style="margin-top: 20px;">Parcours</h5>
    <div class="row">
      <app-input name="lastSchool" placeholder="Ancien établissement" formControlName="lastSchool"
                 class="inputs col-12 col-sm-6"></app-input>
      <app-input name="lastClass" placeholder="Dernière classe suivie" formControlName="lastClass"
                 class="inputs col-12 col-sm-6"></app-input>
    </div>
  </div>

  <div *ngIf="currentPage == 3" class="d-flex flex-column justify-content-between">
    <div formGroupName="payment" class="col-12 my-2">
      <div formArrayName="fees">
        <div *ngFor="let subPayment of subPayments.controls; let i = index" [formGroup]="subPayment" class="d-flex align-items-center justify-content-between">
          <div class="d-flex flex-column w-50">
            <label>{{ subPayment?.value?.fee.name }}</label>
            <mat-form-field appearance="outline">
              <input type="number" matInput formControlName="amount" />
            </mat-form-field>
            <span style="color: red;" *ngIf="subPayment?.get('amount')?.hasError('invalid')">{{subPayment.get('amount')?.errors?.invalid}}</span>
          </div>

          <div class="stats d-flex">
            <div class="font-weight-bold">
              <div class="title">Montant</div>
              <div class="value">{{subPayment?.value?.fee?.amount | spaced: 'FCFA' }}</div>
            </div>

            <div class="ml-5 font-weight-bold" *ngIf="i == 0">
              <div class="title">1ère Tranche</div>
              <div class="value">{{subPayment?.value?.fee?.tranches[0]['amount'] | spaced: 'FCFA' }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 my-2">
      <span *ngIf="filterFees().length <= 0">Il n'y a plus de contributions à ajouter</span>
      <app-select *ngIf="filterFees().length > 0" label="Ajouter une contribution à payer" class="inputs col-12 col-sm-6"
                  [options]="filterFees()"
                  displayKey="name" valueKey="_id"
                  addEmptyOption="true"
                  [formControl]="feeTypeToAdd">
      </app-select>
    </div>
  </div>

</div>
<div class="actions d-flex justify-content-end align-items-center">
  <button (click)="back()" *ngIf="currentPage != 0" mat-flat-button>Précédent</button>
  <app-action-button (click)="save()" color="primary"
                     [isBusy]="isBusy"
                     [isReady]="isReady"
                     [text]="currentPage == 3 ? 'Finaliser l\'inscription' : 'Suivant'">
  </app-action-button>
</div>
