@import 'app.colors';

:host {
  display: block;
  margin: 25px auto;

  .registration {
    margin: 0 auto;

    .registration-item {
      padding: 2em;
    }

    .sub-payment {
      background: #fafafa;
      padding: 20px;
      margin-bottom: 7px;
      border-radius: 7px;
    }
  }

  .section-title {
    font-size: 14px;
    font-weight: bold;
  }

  .inputs {
    margin-top: 15px;
  }

  .genre {
    margin-right: 55px;
  }

  .stats {
    font-size: 12px;

    .balance {
      margin-left: auto;
      text-align: right;
    }
  }
}
