<div class="app-table">
  <table class="full-width-table" mat-table matSort [dataSource]="dataSource">

    <ng-container *ngFor="let column of humanReadable" [matColumnDef]="column">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{column.toUpperCase()}}</th>

      <ng-container [ngSwitch]="column">

        <ng-container *ngSwitchCase="mapping['options']">
          <td *matCellDef="let element" mat-cell>
            <ng-container *ngTemplateOutlet="optionsTemplate; context: { element: element }"></ng-container>
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="mapping['notes']">
          <td *matCellDef="let element" mat-cell>
            <button mat-raised-button (click)="onViewNotes(element)">Notes</button>
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="mapping['paymentDate']">
          <td *matCellDef="let element" mat-cell>{{(element.paymentDate ? element.paymentDate : element.createdAt) | date: 'dd MMMM yyyy'}}</td>
        </ng-container>

        <ng-container *ngSwitchCase="mapping['finance_payments_designation']">
          <td *matCellDef="let element" mat-cell>
            <ng-container *ngTemplateOutlet="optionsTemplate; context: { element: element }"></ng-container>
          </td>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <td class="text-capitalize" *matCellDef="let element" mat-cell> {{valueFromColumnDisplayed(column, element)}}</td>
        </ng-container>
      </ng-container>
    </ng-container>

    <tr *matHeaderRowDef="humanReadable" mat-header-row></tr>
    <tr *matRowDef="let row; columns: humanReadable;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<ng-template #optionsTemplate let-element="element">
  <div>
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>

      <ng-container *ngTemplateOutlet="paymentOptions; context: {element: element}"></ng-container>

      <button (click)="onEdit(element)" mat-menu-item *ngxPermissionsOnly="['ADMIN', optionPermissions?.edit]">
        <mat-icon>mode_edit</mat-icon>
        <span>Modifier</span>
      </button>

      <button (click)="onDelete(element)" mat-menu-item *ngxPermissionsOnly="['ADMIN', optionPermissions?.delete]">
        <mat-icon>delete</mat-icon>
        <span>Supprimer</span>
      </button>

    </mat-menu>
  </div>
</ng-template>

<ng-template #paymentOptions let-element="element">
  <ng-container *ngIf="includeOption == 'payment'">
    <button (click)="onPrintPayment(element)" mat-menu-item>
      <mat-icon>print</mat-icon>
      <span>Imprimer le reçu</span>
    </button>
  </ng-container>
</ng-template>
