<div class="buttons d-flex align-items-baseline">
  <div class="mr-auto">
    <select class="form-control" [formControl]="classroomSelected">
      <option [ngValue]="null">Toutes les classes</option>
      <option *ngFor="let classroom of classrooms; let i = index;" [value]="classroom._id">{{classroom.name}}</option>
    </select>
  </div>
  <div class="ml-auto d-flex align-items-center">
    <div>Exporter :</div>
    <button mat-stroked-button color="accent">Toutes les classes</button>
    <button mat-stroked-button color="accent" (click)="exportCurrentClassroom()">Classe sélectionnée</button>
  </div>
</div>

<div class="state" *ngIf="classroomSelected.value != null">
  <div class="d-flex align-items-center header">
    <div class="text-dark name">Nom</div>
    <div class="registrations">
      <div class="text-dark">Inscription</div>
      <div class="text-primary">{{paymentsState.classrooms[classroomSelected.value]?.registrationFeePayed | spaced: 'F'}} / {{paymentsState.classrooms[classroomSelected.value]?.registrationFeeToPay | spaced: 'F'}}</div>
    </div>
    <div class="tranches">
      <div class="text-dark">Tranches</div>
      <div class="text-primary">{{paymentsState.classrooms[classroomSelected.value]?.schoolFeePayed | spaced: 'F'}} / {{paymentsState.classrooms[classroomSelected.value]?.schoolFeeToPay | spaced: 'F'}}</div>
    </div>
    <div class="others">
      <div class="text-dark">Autres</div>
      <div class="text-primary">{{paymentsState.classrooms[classroomSelected.value]?.otherPayments | spaced: 'F'}}</div>
    </div>
    <div class="total">
      <div>Total</div>
      <div class="text-primary">{{paymentsState.classrooms[classroomSelected.value]?.totalPayed | spaced: 'F'}}</div>
    </div>
  </div>

  <div class="body d-flex align-items-center" *ngFor="let student of classroomSelectedStudents">
    <div class="name">{{student?.lastname | uppercase}} {{student?.firstname}}</div>
    <div class="registrations">
      <app-registration-state [state]="classroomSelectedState?.students[student._id]"></app-registration-state>
    </div>
    <div class="tranches d-flex align-items-center">
      <div class="flex-fill tranche-progress" *ngFor="let tranche of classroomSelectedState?.students[student._id]?.tranches">
        <progressbar [max]="tranche?.trancheAmount" [value]="tranche?.payed" [type]="tranche?.payed | progressColor: tranche?.trancheAmount"></progressbar>
      </div>
      <div class="pl-2 amount">{{classroomSelectedState?.students[student._id]?.schoolFeePayed | spaced: 'F'}}</div>
    </div>
    <div class="others">{{classroomSelectedState?.students[student._id].otherPayments | spaced: 'F' }}</div>
    <div class="total font-weight-bold">{{classroomSelectedState?.students[student._id].totalPayed | spaced: 'F' }}</div>
  </div>
</div>

<div class="state" *ngIf="classroomSelected.value == null && paymentsState">
  <div class="d-flex align-items-center header">
    <div class="text-dark name">Nom</div>
    <div class="registrations">
      <div class="text-dark">Inscriptions</div>
      <div class="text-primary">{{paymentsState.registrationFeePayed | spaced: 'F'}} / {{paymentsState.registrationFeeToPay | spaced: 'F'}}</div>
    </div>
    <div class="tranches">
      <div class="text-dark">Tranches</div>
      <div class="text-primary">{{paymentsState.schoolFeePayed | spaced: 'F'}} / {{paymentsState.schoolFeeToPay | spaced: 'F'}}</div>
    </div>
    <div class="others">
      <div class="text-dark">Autres</div>
      <div class="text-primary">{{paymentsState.otherPayments | spaced: 'F'}}</div>
    </div>
    <div class="total">
      <div>Total</div>
      <div class="text-primary">{{paymentsState.totalPayed | spaced: 'F'}}</div>
    </div>
  </div>

  <div class="body d-flex align-items-center" *ngFor="let classroom of classrooms">
    <div class="text-capitalize name">{{classroom.name}}</div>
    <div class="registrations">
      <app-registration-state [state]="paymentsState.classrooms[classroom._id]" hideReduLabel="true"></app-registration-state>
    </div>
    <div class="tranches d-flex align-items-center">
      <div class="flex-fill tranche-progress" *ngFor="let tranche of paymentsState.classrooms[classroom._id]?.tranches">
        <progressbar [max]="tranche?.trancheAmount" [value]="tranche?.payed" [type]="tranche?.payed | progressColor: tranche?.trancheAmount"></progressbar>
      </div>
      <div class="pl-2 amount">{{paymentsState.classrooms[classroom._id]?.schoolFeePayed | spaced: 'F'}}</div>
    </div>
    <div class="others">{{paymentsState.classrooms[classroom._id]?.otherPayments | spaced: 'F'}}</div>
    <div class="total font-weight-bold">{{paymentsState.classrooms[classroom._id]?.totalPayed | spaced: 'F'}}</div>
  </div>
</div>
