@import 'src/theme/app.colors';

:host {
  display: block;
  margin-top: 1em;

  .check-icon {
    img {
      height: 20px;
    }
  }

  .state {
    color: var(--gray);
    .name {
      flex-basis: 120px;
      flex-shrink: 1;
    }

    .registrations {
      flex-basis: 200px;
    }

    .tranches {
      padding: 0 3em;
      flex: 1 0 300px;

      .amount {
        flex-basis: 110px;
      }
    }

    .others {
      flex-basis: 120px;
    }

    .total {
      color: black;
      flex-basis: 120px;
      font-weight: bold;
    }

    .header {
      position: sticky;
      top: 0;
      background-color: white;
      padding: 1em;
      border-radius: 2px;


    }

    .body {
      padding: 2em 1em;
      background-color: white;
      margin: 5px 0;

      //.check-icon {
      //  img {
      //    height: 20px;
      //  }
      //}
      //
      //div {
      //  flex-basis: 0;
      //  flex-grow: 1;
      //  //padding: 5px 5px;
      //}
    }
  }

  .buttons {
    button {
      margin: 5px 10px;
    }
  }

}
