<h3>Modification de l'élève  {{student.lastname | uppercase}}</h3>
<h3>Classe : {{studentsClassroom.name | titlecase}}</h3>
<mat-divider></mat-divider>

<div [formGroup]="studentForm">
  <div common-title class="section-title">Informations personnelles</div>
  <div class="section">
    <label class="genre">Sexe</label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button style="margin-right:40px;" value="M">M</mat-radio-button>
      <mat-radio-button value="F">F</mat-radio-button>
    </mat-radio-group>
    <div class="row">
      <app-input [control]="studentForm.get('lastname')" placeholder="Nom" formControlName="lastname" class="inputs col-12 col-sm-6">lastname</app-input>
      <app-input [control]="studentForm.get('firstname')" placeholder="Prénom" formControlName="firstname" class="inputs col-12 col-sm-6">firstname</app-input>
      <app-date [control]="studentForm.get('birthday')" class="col-12 col-sm-6">Date de naissance</app-date>
      <app-input placeholder="Lieu de naissance" formControlName="birthCity" class="inputs col-12 col-sm-6">birthCity</app-input>
    </div>
  </div>

  <div common-title class="section-title">Informations sur les parents</div>
  <div class="section">
    <h5>Père</h5>
    <div class="row">
      <app-input name="fathersFirstname" formControlName="fathersFirstname"
                 class="inputs col-12 col-sm-6">Nom</app-input>
      <app-input name="fathersLastnme" formControlName="fathersLastname"
                 class="inputs col-12 col-sm-6">Prénom</app-input>
      <app-input name="fathersJob" formControlName="fathersJob" class="inputs col-12 col-sm-6">Profession</app-input>
      <app-input name="fathersPhone" formControlName="fathersPhone"
                 class="inputs col-12 col-sm-6" type="tel">Téléphone</app-input>
    </div>

    <h5 style="margin-top: 20px;">Mère</h5>
    <div class="row">
      <app-input name="mothersFirstname" formControlName="mothersFirstname"
                 class="inputs col-12 col-sm-6">Nom</app-input>
      <app-input name="mothersLastnme" formControlName="mothersLastname"
                 class="inputs col-12 col-sm-6">Prénom</app-input>
      <app-input name="mothersJob" formControlName="mothersJob" class="inputs col-12 col-sm-6">Profession</app-input>
      <app-input name="mothersPhone" formControlName="mothersPhone"
                 class="inputs col-12 col-sm-6" type="tel">Téléphone</app-input>
    </div>
  </div>

  <div common-title class="section-title">École</div>
  <div class="section">
    <h5 style="margin-top: 20px;">Parcours</h5>
    <div class="row">
      <app-input name="lastSchool" formControlName="lastSchool"
                 class="inputs col-12 col-sm-6">Ancien établissement</app-input>
      <app-input name="lastClass" formControlName="lastClass"
                 class="inputs col-12 col-sm-6">Dernière classe suivie</app-input>
    </div>
    <div class="row">
      <app-advanced-select displayKey="name" [options]="classroomsRepository.stream | async" [control]="studentForm.get('classroom')">Changer la classe de l'élève</app-advanced-select>
    </div>
  </div>
</div>

<div class="actions d-flex justify-content-end align-items-center">
  <button (click)="dialogRef.close()" mat-flat-button>Annuler</button>
  <app-action-button (click)="save()" color="primary"
                     [isBusy]="isBusy" isReady="true">
    Modifier l'élève
  </app-action-button>
</div>
