@import "variables";

:host {
  display: block;
  background-color: var(--background-color);
  padding: 36px;

  .section {
    padding: 36px;
    background-color: white;
    border-radius: 7px;
  }

  .genre {
    margin-right: 55px;
  }
}
