<app-title
  head1="{{this.registration?.classroom?.name | titlecase}}">{{student?.lastname | uppercase}} {{student?.firstname | titlecase}}</app-title>

<div [formGroup]="studentForm">
  <h5 class="h5 text-muted pb-2 pt-2">Informations personnelles</h5>
  <div class="section">
    <label class="genre">Sexe</label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button style="margin-right:40px;" [value]="'M'">M</mat-radio-button>
      <mat-radio-button [value]="'F'">F</mat-radio-button>
    </mat-radio-group>
    <div class="row">
      <app-input [control]="studentForm.get('lastname')" placeholder="Nom" formControlName="lastname"
                 class="inputs col-12 col-sm-6">lastname
      </app-input>
      <app-input [control]="studentForm.get('firstname')" placeholder="Prénom" formControlName="firstname"
                 class="inputs col-12 col-sm-6">firstname
      </app-input>
      <app-date [control]="studentForm.get('birthday')" class="col-12 col-sm-6">Date de naissance</app-date>
      <app-input placeholder="Lieu de naissance" formControlName="birthCity" class="inputs col-12 col-sm-6">birthCity
      </app-input>
    </div>
  </div>

  <h5 class="h5 text-muted pb-2 pt-4">Informations sur les parents</h5>
  <div class="section">
    <h6>Père</h6>
    <div class="row">
      <app-input name="fathersFirstname" formControlName="fathersFirstname"
                 class="inputs col-12 col-sm-6">Nom
      </app-input>
      <app-input name="fathersLastname" formControlName="fathersLastname"
                 class="inputs col-12 col-sm-6">Prénom
      </app-input>
      <app-input name="fathersJob" formControlName="fathersJob" class="inputs col-12 col-sm-6">Profession</app-input>
      <app-input name="fathersPhone" formControlName="fathersPhone"
                 class="inputs col-12 col-sm-6" type="tel">Téléphone
      </app-input>
    </div>

    <h6 style="margin-top: 20px;">Mère</h6>
    <div class="row">
      <app-input name="mothersFirstname" formControlName="mothersFirstname"
                 class="inputs col-12 col-sm-6">Nom
      </app-input>
      <app-input name="mothersLastnme" formControlName="mothersLastname"
                 class="inputs col-12 col-sm-6">Prénom
      </app-input>
      <app-input name="mothersJob" formControlName="mothersJob" class="inputs col-12 col-sm-6">Profession</app-input>
      <app-input name="mothersPhone" formControlName="mothersPhone"
                 class="inputs col-12 col-sm-6" type="tel">Téléphone
      </app-input>
    </div>
  </div>

  <h5 class="h5 text-muted pb-2 pt-4">Classe</h5>
  <div class="section">
    <app-advanced-select displayKey="name" [options]="classrooms | async" [control]="studentClassroom">Changer
      la classe de l'élève
    </app-advanced-select>
  </div>
</div>

<div class="actions d-flex justify-content-end align-items-center">
  <button (click)="dialogRef.close()" mat-flat-button>Annuler</button>
  <button (click)="save()" class="ml-3" mat-flat-button color="primary">Modifier</button>
</div>
