@import "app.colors";

:host {
  app-list {
    display: block;
    margin: 0 10px;
    background-color: white;
    border-radius: 7px;
    box-shadow: $shadow;
  }

  .ngx-datatable {
    height: 70vh;
  }

  .classroom-not-selected {
    font-size: 3em;
    height: 100%;
    text-align: center;
  }
}
