@import "app.colors";

:host {
  display: block;
  padding: 1em 2em;
  background-color: white;

  .filter {
    margin-right: 2em;
    flex: 0 1 200px;
  }

  .ngx-datatable {
    margin-top: 2em;
    height: 70vh;
    overflow-x: hidden;
  }

  .classroom-not-selected {
    font-size: 3em;
    height: 100%;
    text-align: center;
  }
}
