<button class="mb-3" mat-flat-button color="primary" (click)="add()" *ngxPermissionsOnly="['ADMIN', constants.permissions.addExamination]">Ajouter une examination</button>
<mat-divider class="my-1"></mat-divider>

<div class="d-flex">
  <app-list [items]="classrooms" [displayKey]="'name'" (onClicked)="ClassroomSelected = $event">Classes</app-list>

  <app-list [displayAll]="true" *ngIf="isClassroomHasSubjects(classroomSelected)" [items]="classroomSelected.subjects" [displayKey]="'name'" (onClicked)="SubjectSelected = $event">Matières</app-list>

  <app-list [displayAll]="true" *ngIf="isClassroomHasSubjects(classroomSelected)" [items]="examinationTypes" [displayKey]="'name'" (onClicked)="ExaminationTypeSelected = $event">Types d'examination</app-list>

  <div class="flex-grow-1">
    <app-table
      *ngIf="classroomSelected != null"
      [mapping]="mapping"
      [data]="data"
      (edit)="edit($event)"
      (delete)="delete($event)"
      (viewNotes)="openNotesPage($event)"
      [optionPermissions]="optionsPermissions">
    </app-table>
    <div class="classroom-not-selected d-flex align-items-center justify-content-center" *ngIf="classroomSelected == null">Veuillez séléctionner une classe afin d'afficher les examinations</div>
  </div>
</div>
