@import 'variables.scss';

.app-table {
  border-radius: 7px;
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

table {
  width: 100%;

  tr {
    border: 0;

    th {
      text-transform: uppercase;
      font-size: 1em;
      color: $app-common-title;
    }

    td {
      font-size: 1em;
      font-family: "SF Pro Text", sans-serif;
      border: 0;
    }
  }
}
