<h4>{{title}}</h4>
<div class="row" [formGroup]="subjectForm">
  <app-input formControlName="name" class="inputs col-12 col-sm-6">Nom</app-input>
  <app-input formControlName="code" class="inputs col-12 col-sm-6">Code</app-input>

  <app-select class="inputs col-12 col-sm-6"
              [options]="teachersRepository.stream | async"
              displayKey="lastname" valueKey="_id"
              formControlName="teachers" [multiple]="true">
    Enseignants
  </app-select>
</div>

<div class="ml-auto mr-4">
  <button class="mr-4" (click)="dialogRef.close()" mat-button>Annuler</button>
  <button (click)="save()" mat-flat-button color="primary">{{submitText}}</button>
</div>

