<h4>{{title}}</h4>
<div class="row" [formGroup]="subjectForm">
  <app-input name="name" placeholder="Nom" formControlName="name" class="inputs col-12 col-sm-6"></app-input>
  <app-input name="code" placeholder="Code" formControlName="code" class="inputs col-12 col-sm-6"></app-input>

  <app-select name="teachers" label="Enseignants" class="inputs col-12 col-sm-6"
              [options]="teachersRepository.stream | async"
              displayKey="lastname" valueKey="_id"
              formControlName="teachers" [multiple]="true">
  </app-select>
</div>

<div class="ml-auto mr-4">
  <button class="mr-4" (click)="dialogRef.close()" mat-button>Annuler</button>
  <button (click)="save()" mat-flat-button color="primary">{{submitText}}</button>
</div>

