@import '~@angular/material/theming';

$primary-color: $mat-blue;
$secondary-color: $mat-brown;

$primary-palette: mat-palette($primary-color, 700);
$secondary-palette: mat-palette($secondary-color, 500);

$subbar_grey: #777777;
$app-input-color: #D6D6D6;
$app-common-title: #111111;
$app-background: #f6f7f9;
$app-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
$app-big-titles: #494949;
$app-subtitles: #868585;
$input-height: 50px;
