@import 'variables';

:host {
  font-size: 14px;
  margin: 12px 30px;
  color: $subbar_grey;
  text-transform: capitalize;
  display: flex;

  .subbar-link {
    margin-right: 50px;

    &.subbar-link-active {
      position: relative;
      padding-bottom: 6px;

      &::after {
        background-color: mat-color($primary-palette, 700);
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        transform: translate(-50%,0);
        width: 75%;
      }
    }
  }
}
