<app-close-button [dialog]="dialogRef"></app-close-button>
<h3 class="h3">Notes</h3>
<div class="d-flex mt-2">
  <div class="flex-fill">
    <div class="text-muted">Matière</div>
    <div class="text-success">{{examination?.subject?.code}}</div>
  </div>

  <div class="flex-fill">
    <div class="text-muted">Type d'examination</div>
    <div class="text-success">{{examination?.type?.name}}</div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="d-flex align-items-center note" style="width: 100%;" *ngFor="let mark of examination?.marks">
  <p class="flex-fill text-capitalize">{{mark?.student?.lastname + ' ' + mark?.student?.firstname | titlecase}}</p>
  <div class="d-flex align-items-center">
    <input class="form-control" placeholder="note" [(ngModel)]="mark.mark" (ngModelChange)="onModelChange($event)"/>
    <div class="text-muted pl-1">/{{examination?.subject?.markBy}}</div>
  </div>
</div>

<div class="actions d-flex align-items-center justify-content-end">
  <button mat-button (click)="dialogRef.close()">Annuler</button>
  <button mat-raised-button color='primary' (click)="save()">Enrégistrer</button>
</div>
