<app-close-button [dialog]="dialogRef"></app-close-button>
<h1>Notes</h1>
<div class="d-flex mt-4">
  <div class="flex-fill">
    <p>Matière</p>
    <p class="font-weight-bold">{{examination.subject.name}}</p>
  </div>

  <div class="flex-fill">
    <p>Type d'examination</p>
    <p class="font-weight-bold">{{examination.type.name}}</p>
  </div>
</div>
<mat-divider></mat-divider>
<div class="d-flex align-items-center note" style="width: 100%;" *ngFor="let mark of marksSorted()">
  <p class="flex-fill text-capitalize font-weight-bold">{{mark.student.lastname + ' ' + mark.student.firstname | titlecase}}</p>
  <div class="d-flex align-items-center">
    <mat-form-field appearance="outline">
      <input matInput placeholder="note" [(ngModel)]="mark.mark" (ngModelChange)="onModelChange($event)"/>
    </mat-form-field>
    <div>/{{examination.subject.markBy}}</div>
  </div>
</div>

<div class="actions d-flex align-items-center justify-content-end">
  <button mat-button (click)="dialogRef.close()">Annuler</button>
  <button mat-raised-button color='primary' (click)="save()">Enrégistrer</button>
</div>
