<h1>Notes de : <b>{{examination.subject.name}}</b></h1>

<div class="d-flex align-items-center mark" style="width: 100%;" *ngFor="let mark of examination.marks">
  <h4 class="flex-fill text-capitalize">{{mark.student.firstname + ' ' + mark.student.lastname | titlecase}}</h4>
  <div class="d-flex align-items-center">
    <mat-form-field appearance="outline">
      <input matInput placeholder="note" [(ngModel)]="mark.mark" (ngModelChange)="onModelChange($event)"/>
    </mat-form-field>
    <div>/{{examination.subject.markBy}}</div>
  </div>
</div>

<div class="actions d-flex align-items-center justify-content-end">
  <button mat-button (click)="dialogRef.close()">Annuler</button>
  <button mat-raised-button color='primary' (click)="save()">Enrégistrer</button>
</div>
