:host {
  display: block;
  padding: 16px;
  font-size: 1.2em;

  .mark {
    background-color: #FAFAFA;
    margin: 10px 0;
    border-radius: 7px;
  }

  .actions {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 5px 0;
  }
}
