:host {
  display: block;
  padding: 16px;
  font-size: 1.2em;

  .note:hover {
    background-color: #FAFAFA;
  }

  .actions {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 5px 0;
  }
}
