<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{pkiCards.length}}" [rowHeight]="pkiTileHeigth">
    <mat-grid-tile *ngFor="let card of pkiCards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" [ngStyle]="{'background-image': card.color}">
        <mat-card-header>
          <h5 class="mat-h4">{{card.title}}</h5>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h3 class="mat-h3 font-weight-bold">{{ card.value | spaced: 'FCFA' }}</h3>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

<!--  <mat-grid-list cols="4" rowHeight="350px">-->
<!--    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">-->
<!--      <mat-card class="dashboard-card">-->
<!--        <mat-card-content class="dashboard-card-content">-->
<!--          <ng-template [chartHost]="card.component"></ng-template>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
</div>
