<ng-content></ng-content>
<mat-form-field *ngIf="!multiple" appearance="outline" color="primary" >
  <select matNativeControl required [(ngModel)]="value" [compareWith]="utils.common.compareFn" [disabled]="disabled">
    <option *ngIf="addEmptyOption" [value]="null">{{ emptyLabel }}</option>
    <option *ngFor="let option of options" [ngValue]="option">{{option[displayKey]}}</option>
  </select>
</mat-form-field>

<mat-form-field *ngIf="multiple" appearance="outline">
  <mat-select [(ngModel)]="value" multiple [compareWith]="utils.common.compareFn">
    <mat-option *ngFor="let option of options" [value]="option">{{option[displayKey]}}</mat-option>
  </mat-select>
</mat-form-field>

<span style="color: red;" *ngIf="control?.touched && control?.hasError('required')">Ce champ est requis</span>
<span style="color: red;" *ngIf="control?.touched && control?.hasError('email')">L'email est requis</span>
