<h4>{{title}}</h4>

<div class="row">
  <app-select class="inputs col-12"
              [options]="classroomsRepository.stream | async"
              displayKey="name" valueKey="_id"
              [formControl]="classroomSelected">
    Veuillez séléctionner la classe
  </app-select>
</div>

<div class="row" [formGroup]="paymentForm" *ngIf="classroomSelected.value">
  <div  class="mt-3 col-12 d-flex flex-column">
    <label>Élève</label>
    <mat-form-field appearance="outline" color="primary">
      <select matNativeControl formControlName="student" [compareWith]="utils.common.compareFn">
        <option *ngFor="let student of studentsFiltred" [ngValue]="student">{{student.firstname}} {{student.lastname}}</option>
      </select>
    </mat-form-field>
  </div>

  <div class="inputs col-12 col-sm-6 mt-3">
    <div class="d-flex flex-column">
      <label>Type de contribution</label>
      <mat-form-field appearance="outline" color="primary">
        <select matNativeControl formControlName="schoolFee" [compareWith]="utils.common.compareFn">
          <option *ngFor="let option of feeTypesRepository.stream | async" [ngValue]="option">{{option.name}}</option>
        </select>
      </mat-form-field>
    </div>
  </div>

  <app-input [control]="this.paymentForm.get('amount')" name="amount" formControlName="amount" type="number" class="inputs col-6">Montant payé</app-input>

  <app-input [control]="this.paymentForm.get('reduction')" formControlName="reduction" type="number" class="inputs col-6">Réduction</app-input>

  <app-date view="multi-year" [control]="paymentForm.get('paymentDate')" class="col-12 col-sm-6">Date de payement</app-date>

  <div class="balance d-flex align-items-center">
    <div class="flex-fill">
      <label>Montant de la scolarité</label>
      <div>{{totalSchoolFeeAmount() | spaced: 'FCFA'}}</div>
    </div>
    <div class="flex-fill">
      <label>Montant déjà payé par l'élève</label>
      <div>{{studentSchoolFeesPaymentsAmount() | spaced: 'FCFA'}}</div>
    </div>
    <div class="flex-fill"></div>
  </div>
</div>



<div class="ml-auto mt-5">
  <button class="mr-4" (click)="dialogRef.close()" mat-button>Annuler</button>
  <button *ngIf="classroomSelected.value" (click)="save()" mat-flat-button color="primary">Enrégistrer le payement</button>
</div>

