<div>
  <app-advanced-select [options]="classroomsRepository.stream | async" displayKey="name" valueKey="_id" [control]="classroomFormControl">Classe</app-advanced-select>
  <app-advanced-select [options]="classroomSubjects" multiple="true" displayKey="name" valueKey="_id" [control]="subjectsFormControl">Matière</app-advanced-select>
  <app-date [control]="examinationDateFormControl">Date de l'examination</app-date>
  <app-advanced-select [options]="examinationTypesRepository.stream | async" multiple="true" displayKey="name" valueKey="_id" [control]="examinationTypeFormControl">Type de l'examination</app-advanced-select>
</div>
<div class="d-flex justify-content-end mt-3">
  <button mat-raised-button (click)="dialogRef.close()">Annuler</button>
  <button class="ml-3" mat-raised-button color="primary" (click)="add()">Ajouter les examinations</button>
</div>
