<h2>Modification du payement</h2>

<div *ngIf="payment != null" [formGroup]="paymentForm">
  <div class="row">
    <div class="col">
      <div>Classe</div>
      <h3>{{ paymentForm.get('classroom')?.value?.name }}</h3>
    </div>

    <div class="col">
      <div>Élève</div>
      <h3>{{ paymentForm.get('student')?.value?.firstname }} {{paymentForm.get('student')?.value?.lastname }}</h3>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div formArrayName="fees" class="col-12">
      <div *ngFor="let subPayment of subPayments.controls; let i = index" [formGroup]="subPayment" class="d-flex align-items-center">
        <button (click)="removeSubpayment(i)" mat-icon-button color="warn" style="margin-left: -30px;"><mat-icon>delete</mat-icon></button>
        <div class="sub-payment d-flex align-items-center flex-grow-1">
          <div style="flex-basis: 0" class="d-flex flex-grow-1 col-6">

            <div class="d-flex flex-column mt-3 col-6">
              <label>{{ subPayment?.value?.fee.name }}</label>
              <mat-form-field appearance="outline">
                <input type="number" matInput formControlName="amount" />
              </mat-form-field>
            </div>

            <div class="mt-3 col-6">
              <label>Réduction associée à <b>{{subPayment?.value?.fee?.name | uppercase}}</b></label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput placeholder="réduction" type="number" [(ngModel)]="getReduction(subPayment?.value?.fee).reduction" [ngModelOptions]="{standalone: true}">
                <button mat-icon-button matSuffix (click)="onReductionTypeChanged(subPayment)">
                  <span *ngIf="subPayment.get('reductionType')?.value  === 'percentage'">%</span>
                  <span *ngIf="subPayment.get('reductionType')?.value === 'amount'">FCFA</span>
                  <span *ngIf="subPayment.get('reductionType') == null">FCFA</span>
                </button>
              </mat-form-field>
            </div>

            <mat-error *ngIf="subPayment?.get('reduction')?.hasError('min')">Minimum 0%</mat-error>
            <mat-error *ngIf="subPayment?.get('reduction')?.hasError('max')">Minimum 100%</mat-error>
            <span style="color: red;" *ngIf="subPayment?.get('amount')?.hasError('invalid')">{{subPayment.get('amount')?.errors?.invalid}}</span>
            <span style="color: red;" *ngIf="subPayment?.get('amount')?.hasError('min')">La valeur est invalide</span>
            <span style="color: red;" *ngIf="checkReduction(subPayment)">La payement et la réduction sont supérieurs au montant de la contribution</span>
          </div>

          <div style="flex-basis: 0" class="d-flex flex-grow-1 col-6">
            <div  style="flex-basis: 0" class="d-flex align-items-center flex-grow-1 col-4">
              <div class="font-weight-bold">
                <div class="title">Montant</div>
                <div class="value">{{subPayment?.value?.fee?.amount | spaced: 'FCFA' }}</div>
              </div>
            </div>

            <div style="flex-basis: 0" class="balance flex-grow-1 col-4">
              <div class="title">Anciens payements</div>
              <div class="value">{{oldPayments(subPayment.value) | spaced: 'FCFA'}}</div>
            </div>

            <div style="flex-basis: 0" class="balance flex-grow-1 col-4">
              <div class="title">Reste à payer après réduction</div>
              <div class="value">{{getBalanceOnUpdate(subPayment.value, i)  | spaced: 'FCFA'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-date view="multi-year" [control]="paymentForm.get('paymentDate')" class="col-12">Date de payement</app-date>

  </div>
</div>

<div class="ml-auto mt-5">
  <button class="mr-4" (click)="dialogRef.close()" mat-button>Annuler</button>
  <button *ngIf="payment" (click)="save()" mat-flat-button color="primary">Modifier le payement</button>
</div>

