@import 'angular-material.theme';
@import '../../../../../node_modules/@angular/material/theming';

.appbar {
  font-size: 12px;
  height: 50px;

  &.home {
    background-color: transparent !important;
  }

  .home-button {
    cursor: pointer;
  }

  .main-menu {
    height: 100%;

    .module-name {
      font-size: 20px;
      text-transform: capitalize;
      margin: auto 30px;
    }

    .main-menu-link {
      padding: 0 50px;

      &.app-link-active {
        background-color: mat-color($primary, 900);
      }
    }
  }
}
