<mat-toolbar class="appbar bg-transparent p-3 d-flex align-items-center">
  <span class="flex-grow-1"></span>
  <mat-form-field class="school-years" color="accent" appearance="outline">
    <mat-select [(ngModel)]="currentSchoolYear" (ngModelChange)="onSchoolYearChange($event)" [compareWith]="compareFn">
      <mat-option
        *ngFor="let schoolYear of schoolYears"
        [value]="schoolYear">
        {{schoolYear.startDate | date: 'yyyy'}} - {{schoolYear.endDate | date: 'yyyy'}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <div class="d-flex align-items-center" [matMenuTriggerFor]="profileMenu" style="cursor: pointer;">
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <span class="text-capitalize">{{(auth.user | async)?.firstname}}</span>
    </div>
    <mat-menu #profileMenu>
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="signout()">Déconnexion</button>
    </mat-menu>
  </div>
<!--  only for small screens-->
  <div class="d-flex d-lg-none">
    <button [matMenuTriggerFor]="appMenu" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #appMenu>
      <button class="text-capitalize" *ngFor="let route of routes" routerLinkActive="app-link-active"
              [routerLink]="[route.url]" mat-menu-item>{{route.text}}</button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="divider"></div>
