@import 'variables';

:host {
  .working-text {
    font-size: .7em;
    color: var(--primary);
  }
}

:host::ng-deep {
  mat-form-field {
    .mat-form-field-wrapper {
      padding: 0;
      margin: 0;

      .mat-form-field-infix {
        border: none;
      }

      .mat-form-field-outline {
        display: none;
      }
    }

    .mat-select-trigger {
      .mat-select-arrow-wrapper {
        transform: none;
        padding-left: 1em;
      }

      .mat-select-value {
        max-width: none;
        width: inherit;
      }
    }
  }
}

.divider {
  background-color: rgba(0,0,0,.05);
  width: 100%;
  height: 1px;
}
