<mat-sidenav-container fullscreen>
  <mat-sidenav [opened]="!isHomeMenu" mode="side">
    <app-sidenav-header></app-sidenav-header>
    <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="home d-flex flex-column" [ngClass]="{'home-menu': (services.appBar.appbarMenus | async) == null}">
      <app-appbar></app-appbar>
      <div class="container overflow-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
