@import 'variables';

:host {
  mat-sidenav {
    width: 270px;
    background-color: white;
    border: 0;
  }

  mat-sidenav-container {
    background-color: var(--background-color);
  }

  app-appbar {
    height: 80px;
  }
}

.home {
  height: 100%;
  background-color: var(--background-color);

  &.home-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/images/background.jpg');
    background-size: cover;
  }

  .welcome-message {
    padding: 40px 0;
  }
}
