/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap-css-only/css/bootstrap.min.css";
@import 'angular-material.theme';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
//@import "./assets/fonts/SF-Pro-Text-Regular.otf";

// background-color : #E9EDF3
// background-color : #FAFAFB
// input text color : #7386A0

$small-icon-size: 16px;

@font-face {
  font-family: 'SF Pro Text';
  src: url('assets/fonts/sfprotext-regular-webfont.woff2') format('woff2'),
  url('assets/fonts/sfprotext-regular-webfont.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('assets/fonts/sfprotext-thin-webfont.woff2') format('woff2'),
  url('assets/fonts/sfprotext-thin-webfont.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('assets/fonts/SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: bold;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "SF Pro Text", sans-serif !important;
  background-color: var(--background-color) !important;
}

.link {
  outline: 0 !important;
  cursor: pointer;
}

*:focus {
  outline: 0 !important;
}

[common-title] {
  color: $app-common-title;
}

.dialog-without-padding mat-dialog-container {
  padding: 0 !important;
  position: relative;
}

.relative mat-dialog-container {
  position: relative;
}

.actions {
  margin-top: 20px;
}

mat-icon.small {
  font-size: $small-icon-size;
  height: $small-icon-size;
  width: $small-icon-size;
}

.app-card {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
  border-radius: 7px;
  padding: 16px;
}

mat-dialog-container {
  position: relative;
}

::-webkit-scrollbar {
  width: .4em;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

:root {
  --background-color: #E9EDF3;
  --primary: #1976d2;
  --menu-item-color: #B7B8CE;
  --menu-item-selected-color: #ddeeff;
}


