/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

$small-icon-size: 16px;

@font-face {
  font-family: 'SF Pro Text', sans-serif;
  src: url('assets/fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "SF Pro Text", sans-serif !important;
  background-color: white;
}

.link {
  outline: 0 !important;
  cursor: pointer;
}

*:focus {
  outline: 0 !important;
}

[common-title] {
  color: $app-common-title;
}

.dialog-without-padding mat-dialog-container {
  padding: 0 !important;
}

.actions {
  margin-top: 20px;
}

mat-icon.small {
  font-size: $small-icon-size;
  height: $small-icon-size;
  width: $small-icon-size;
}

.app-card {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  border-radius: 7px;
  padding: 16px;
}


