<h4>{{title}}</h4>
<div [formGroup]="teacherForm">
  <div class="mt-3">
    <label style="margin-right: 30px;">Sexe</label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button style="margin-right:40px;" value="M">M</mat-radio-button>
      <mat-radio-button value="F">F</mat-radio-button>
    </mat-radio-group>
  </div>

 <div class="row">
   <app-input formControlName="firstname" class="inputs col-12 col-sm-6">Prénom</app-input>
   <app-input formControlName="lastname" class="inputs col-12 col-sm-6">Nom</app-input>
 </div>

 <div class="row">
   <app-input formControlName="address" class="inputs col-12 col-sm-6">Adresse</app-input>
   <app-input formControlName="phone" class="inputs col-12 col-sm-6">Téléphone</app-input>
 </div>

  <div class="row">
    <app-input formControlName="qualifications" class="inputs col-12">Qualifications</app-input>
  </div>

  <div class="row">
    <app-date [control]="teacherForm.get('hireDate')" class="inputs col-12 col-sm-6">Date d'embauche</app-date>
    <app-date [control]="teacherForm.get('fireDate')" class="inputs col-12 col-sm-6">Date de départ</app-date>
  </div>
</div>

<div class="ml-auto mt-4">
  <button class="mr-4" (click)="dialogRef.close()" mat-button>Annuler</button>
  <button (click)="save()" mat-flat-button color="primary">{{submitText}}</button>
</div>

