<app-title>{{ classroomId != null ? classroom?.name : "Ajout d'une classe" }}</app-title>

<div [formGroup]="classroomForm">
  <app-input name="name" formControlName="name">Nom</app-input>

  <app-input name="code" formControlName="code">Code</app-input>

  <label class="text-muted pt-4">Professeur en charge</label>
  <select class="custom-select" formControlName="_teacher">
    <option [ngValue]="null">Choisissez</option>
    <option [ngValue]="teacher"
            *ngFor="let teacher of teachers | async">{{teacher.lastname}} {{teacher.firstname}}</option>
  </select>

  <label class="text-muted pt-4">Frais d'inscriptions</label>
  <select class="custom-select" formControlName="registrationFee">
    <option [ngValue]="null">Choisissez</option>
    <option [ngValue]="fee?._id"
            *ngFor="let fee of fees | async">{{fee?.name}}</option>
  </select>

  <label class="text-muted pt-4">Frais de réinscription</label>
  <select class="custom-select" formControlName="reregistrationFee">
    <option [ngValue]="null">Choisissez</option>
    <option [ngValue]="fee?._id"
            *ngFor="let fee of fees | async">{{fee?.name}}</option>
  </select>

  <label class="text-muted pt-4">Frais de scolarité</label>
  <select class="custom-select" formControlName="schoolFee">
    <option [ngValue]="null">Choisissez</option>
    <option [ngValue]="fee?._id"
            *ngFor="let fee of fees | async">{{fee?.name}}</option>
  </select>


  <app-advanced-select class="inputs w-100"
              [options]="subjectsRepository.stream | async"
              displayKey="name" valueKey="_id"
              [control]="classroomForm.get('_subjects')" [multiple]="true">
    Cours
  </app-advanced-select>
</div>

<div class="ml-auto mr-4 mt-3">
  <button class="mr-4" (click)="dialogRef.close()" mat-button>Annuler</button>
  <button (click)="save()" mat-flat-button color="primary">{{ classroomId != null ? 'Modifier' : 'Ajouter' }}</button>
</div>

