<h4>{{title}}</h4>
<div class="row" [formGroup]="classroomForm">
  <app-input name="name" placeholder="Nom" formControlName="name" class="inputs col-12 col-sm-6"></app-input>
  <app-input name="code" placeholder="Code" formControlName="code" class="inputs col-12 col-sm-6"></app-input>
  <app-select name="teacher"
              [options]="teachersRepository.stream | async"
              displayKey="lastname" valueKey="_id"
              label="Professeur en charge"
              formControlName="teacher"
              class="inputs col-12 col-sm-6">
  </app-select>

  <app-select name="subjects" label="Cours" class="inputs col-12 col-sm-6"
              [options]="subjectsRepository.stream | async"
              displayKey="name" valueKey="_id"
              formControlName="subjects" [multiple]="true">
  </app-select>
  <app-select name="registrationFee"
              [options]="feesRepository.stream | async"
              displayKey="name" valueKey="_id"
             label="Frais d'inscription"
             formControlName="registrationFee"
             class="inputs col-12 col-sm-6">
  </app-select>

  <app-select name="registrationFee"
              [options]="feesRepository.stream | async"
              displayKey="name" valueKey="_id"
              label="Frais de scolarité"
              formControlName="schoolFee"
              class="inputs col-12 col-sm-6">
  </app-select>

  <div class="ml-auto mr-4">
    <button class="mr-4" (click)="dialogRef.close()" mat-button>Annuler</button>
    <button (click)="save()" mat-flat-button color="primary">{{submitText}}</button>
  </div>
</div>
