@import "variables";

:host {
  display: block;
  //background-color: white;
  //height: 100%;

  //width: 55%;
  //margin: 25px auto;
  //background-color: white;
  //padding: 48px;
  //border-radius: 7px;
  //box-shadow: $app-box-shadow;

  .result {
    overflow: auto;
    //max-height: 50vh;
    padding: 1px;

    .result-item {
      background-color: white;
      padding: 1em;
      border-bottom: 1px solid var(--background-color);
    }
  }

  .searchbar {
    border: 1px solid $app-input-color;
    border-radius: 7px;
    overflow: hidden;
    height: 60px;
    margin: 24px 0;

    &.focused {
      border: 2px solid mat-color($primary-palette, 700);
    }

    &:hover {
      border: 2px solid #212529;
    }

    input {
      height: 36px;
      border: 0;
      padding: 10px;
      color: #111111;
      width: 100%;
      font-size: 1.2em;
      background-color: transparent;
    }
  }
}
