@import 'variables';

:host {
  display: block;
  width: 100%;
  height: 100%;

  .signin {
    height: 100%;
  }

  .connexion-label {
    font-size: 34px;
    font-weight: bold;
    color: $app-big-titles;
    text-align: center;
  }
}
