@import 'app.colors';

:host {
  .classrooms {
    height: 70vh;
    overflow: auto;
    background-color: white;
    border-radius: 7px;
    box-shadow: $shadow;
    padding: 10px;
    position: sticky;
    top: 24px;

    .classroom {
      font-size: 1.3em;
      margin: 10px 0;
      padding: 10px;
      cursor: pointer;
      border-radius: 7px;

      &.selected {
        background-color: $accent;
        color: white;
      }
    }
  }

  .payments-state-header {
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: $shadow;
    border-radius: 2px;

    div {
      flex-basis: 0;
      flex-grow: 1;
      padding: 10px 0;
      display: flex;
      flex-direction: column;

      span.amount {
        font-weight: bold;
      }
    }

    .registration {
      background-color: #E3F2FD;
    }

    .school-fee {
      background-color: #E0F2F1;
    }

    .total {
      background-color: #ef9a9a;
    }

    .remaining {
      background-color: #FFFDE7;
    }
  }

  .payments-state-body {
    overflow: auto;

    //height: 65vh;

    .student {
      background-color: white;

      .registration-payments {
        background-color: #FAFAFA;
      }

      .schoolfee-payments {
        background-color: #FAFAFA;
      }

      .all-registration-fee-payments-done {
        background-color: #2196F3;
        color: white;
        border-radius: 2px;
      }


      .all-school-fee-payments-done {
        background-color: #009688;
        color: white;
        border-radius: 2px;
      }

      .check-icon {
        img {
          height: 20px;
        }
      }

      div {
        flex-basis: 0;
        flex-grow: 1;
        padding: 5px 5px;
      }
    }
  }

  .payments-state-total {
    background-color: #2196F3;
    padding: 5px 0;
    color: white;

    div {
      flex-basis: 0;
      flex-grow: 1;
      padding: 5px 5px;
    }
  }

}
