@import 'app.colors';

:host {
  display: flex;
  justify-content: center;

  .title {
    color: $color-big-titles;
    font-size: 28px;
    text-align: center;
    margin: 24px 0 8px 0;
  }

  .subtitle {
    color: $primary;
    font-size: 18px;
    text-align: center;
  }

  .section-title {
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    color: $color-title
  }

  .sessions-header {
    text-transform: uppercase;
  }

}
