<h4>{{title}}</h4>
<div class="row" [formGroup]="trancheForm">
  <app-input name="name" placeholder="Nom" formControlName="name" class="inputs col-12 col-sm-6"></app-input>
  <app-input name="amount" placeholder="Montant" formControlName="amount" class="inputs col-12 col-sm-6"></app-input>
  <app-input name="dueDate" placeholder="Date limite" formControlName="dueDate" type="date" class="inputs col-12 col-sm-6"></app-input>
</div>

<div class="actions ml-auto">
  <button class="mr-4" (click)="dialogRef.close()" mat-button>Annuler</button>
  <button (click)="save()" mat-flat-button color="primary">{{buttonSubmitText}}</button>
</div>
